<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
    {{ form.media }}  
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} {% endblock %}</title>
    <style >
        input[type=checkbox] {
            transform: scale(1.5);
        }
        label[for="id_vaccinated"]{
            font-weight: bold;
        }
        label[for="id_disclaimer"]{
            font-weight: bold;
        }
        label[for="id_plus21"]{
            font-weight: bold;
        }
        ul {
            list-style-type: none;
        }
        ul li {
            padding: 10px;
        }
    </style>
</head>

<body>

    <div class="container">
        {% block content %} 
        {% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/monim67/django-bootstrap-datepicker-plus/master/bootstrap_datepicker_plus/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();

            // $("#id_plus21").click(function () {
            //     if ($(this).is(":checked")) {
            //         $('.date').hide();
            //         $('#id_date_of_birth').prop('required', false);
            //         $('#id_date_of_birth').val('01/01/1950');
            //         $('label[for="id_date_of_birth"]').hide();
            //     } else {
            //         $('.date').show();
            //         $('#id_date_of_birth').val('');
            //         $('#id_date_of_birth').prop('required', true);
            //         $('label[for="id_date_of_birth"]').show();
            //     }
            // });

            $('input:radio[name=plus21]').click(function(){
                var inputValue = $(this).attr("value");
                if (inputValue == "Yes"){
                    console.log("Radio buttong YES value is :::::: " + inputValue);
                    $('.date').hide();
                    $('#id_date_of_birth').prop('required', false);
                    $('#id_date_of_birth').val('01/01/1950');
                    $('label[for="id_date_of_birth"]').hide();
                }else{
                    console.log("Radio buttong NO value is :::::: " + inputValue);
                    $('.date').show();
                    $('#id_date_of_birth').val('');
                    $('#id_date_of_birth').prop('required', true);
                    $('label[for="id_date_of_birth"]').show();
                }
            });
        
        });
        
     </script>

</body>

</html>