{% extends "main.html" %}
{% block title %} ICI Registration {% endblock %}
{% block content %}

<div class="form-group">
    {% if messages %}
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <label><u>*All inputs are required*</u></label><br/>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        •        I release and forever discharge and hold harmless the Islamic Center of Irving (ICI) and its successors from any and all liability, claims, and demands of whatever kind of nature, either in law or in equity, which arise or may hereafter arise.  I understand and acknowledge that this Release discharges ICI from any liability or claim that I may have against ICI with respect to bodily injury, personal injury, illness, death, dismemberment, or property damage that may result from my presence or exposure to COVID-19 that may occur while I am on the premises of ICI.

        <br/><br/><br/>
        <button type="submit" class="btn btn-primary">Register</button>
    <br/><br/><br/>
</form>
</div>


{% endblock %}